body{
    margin: 0;
}
.tunniplaan{
    display: flex;
    flex: 1;
    justify-content: center;
    background: rgba(190, 228, 255, 0.2);
    font-family: 'Roboto', sans-serif;
}
.lunch {
    display: flex;
    justify-content: space-between;
    background-color: rgba(194, 194, 194, 0.35);
    margin: 1rem;
    align-items: center;
}
.tund {
    display: flex;
    justify-content: space-between;
    background-color: rgba(190, 228, 255, 0.2);
    margin: 1rem;
    padding: 1%;
    font-family: 'Roboto', sans-serif;
}
.leftside {
    display: flex;
    flex-direction: column;
    width: 33%;
}
.leftside span {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
}
.rightside {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.rightside span {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    text-align: center;
}
.side {
    width: 33%;
}
.pealkiri {
    font-size: 23px;
    line-height: 27px;
}
.tunninr {
    font-size: 14px;
    line-height: 16px;
}
.aeg {
    font-size: 12px;
    line-height: 14px;
}
.ruum {
    font-size: 14px;
    line-height: 16px;
}
.op {
    font-size: 14px;
    line-height: 16px;
}
.freeroom {
    display: flex;
    flex: 1;
    flex-direction: column;
    background: #FFBE5C;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border-width: 0;
    width: 90%;
}
.dropdown {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    padding: 1%;
    background: rgba(190, 228, 255, 0.2);
    font-family: 'Roboto', sans-serif;
    margin-left: 1rem;
    margin-right: 1rem;
}

.filter {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background: #BEE4FF;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    height: 3em;
    border-radius: 10px;
    margin-bottom: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
.arrow {
    display: flex;
    flex: 1;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    background-color: #FFBE5C;
    height:1em;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    margin: auto;

}
.findroombutton {
    display: flex;
    justify-self: center;
    align-self: center;
    height: 3em;
    margin-left: 1rem;
    margin-right: 1rem;
    font-family: 'Roboto', sans-serif;
}
#nool {
    width: 2rem;
    height: 1rem;
}
h3 {
    font-size: 1em;
}
.filterimg {
    transform: scaleY(-1);
    width: 1.25rem;
    height: 0.75rem;
    margin-left: 0.5rem;
    margin-top: 0.15rem;
}
