body{
    margin:0;
    background-color: #232323;
}

.container{
display: flex;
flex: 1;
justify-content: space-between;

}
.tund{
    display: flex;
    justify-content: space-between;
    background-color: #242631;
    margin: 1rem;
    padding: 1%;
}
.leftside{
    display: flex;
    flex-direction: column;
    width: 33%;
    color: whitesmoke;
}
.leftside span{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    color: whitesmoke;
}
.rightside{
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-grow: 1;
    flex-basis: auto;
    white-space: nowrap;
    color: whitesmoke;
}
.rightside span{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    color: whitesmoke;

}
.side{
    flex-basis: 33%;
    flex-shrink: 1;
}
.pealkiri{
    font-size: 23px;
    line-height: 27px;
    color: whitesmoke;
}
.tunninr{
    font-size: 14px;
    line-height: 16px;
    color: whitesmoke;
}
.aeg{
    font-size: 12px;
    line-height: 14px;
    color: whitesmoke;
}
.ruum{
    font-size: 14px;
    line-height: 16px;
}
.op{
    font-size: 14px;
    line-height: 16px;
}

.days{
    display: flex;
    flex: 1;
    justify-content: space-between;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 1%;
    color: whitesmoke;
}
.days button:not-last{
    margin-right: 1vw;
}

.monday{
    display: flex;
    flex: 1;
    border-style:solid;
    border-color: #C6C6C6;
    padding:0.7rem;
    border-radius:3px;
    border-width: 0;
    justify-content: center;
    align-content: center;
    background-color: #393939;
    margin: 0.1em;
    color: whitesmoke;
}
.tuesday{
    display: flex;
    flex: 1;
    border-style:solid;
    border-color: #C6C6C6;
    padding:0.7rem;
    border-radius:3px;
    border-width: 0;
    justify-content: center;
    align-content: center;
    background-color: #393939;
    margin: 0.1em;
    color: whitesmoke;
}
.wednesday{
    display: flex;
    flex: 1;
    border-style:solid;
    border-color: #C6C6C6;
    padding:0.7rem;
    border-radius:3px;
    border-width: 0;
    background-color: #242631;
    justify-content: center;
    align-content: center;
    margin: 0.1em;
    color: whitesmoke;
}
.thursday{
    display: flex;
    flex: 1;
    border-style:solid;
    border-color: #FFBE5C;
    padding:0.7rem;
    border-radius:3px;
    border-width: 0;
    background-color: #383022;
    justify-content: center;
    align-content: center;
    margin: 0.1em;
    color: whitesmoke;
}
.friday{
    display: flex;
    flex: 1;
    border-style:solid;
    border-color: #C6C6C6;
    padding:0.7rem;
    border-radius:3px;
    border-width: 0;
    background-color: #242631;
    justify-content: center;
    align-content: center;
    margin: 0.1em;
    color: whitesmoke;
}
.saturday{
    display: flex;
    flex: 1;
    border-style:solid;
    border-color: #C6C6C6;
    padding:0.7rem;
    border-radius:3px;
    border-width: 0;
    justify-content: center;
    align-content: center;
    background-color: #393939;
    margin: 0.1em;
    color: whitesmoke;
}
.sunday{
    display: flex;
    flex: 1;
    border-style:solid;
    border-color: #C6C6C6;
    padding:0.7rem;
    border-radius:3px;
    border-width: 0;
    justify-content: center;
    align-content: center;
    background-color: #393939;
    margin: 0.1em;
    color: whitesmoke;
}
.filter{
    display: flex;
   flex: 1;
    text-align-last: center;
    font-family: 'Roboto', sans-serif;
   justify-content: center;
    background-color: #383022;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    color: whitesmoke;
}
.tunniplaan{
    display: flex;
    flex: 1;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
}
.freeroom{
    display: flex;
    flex: 1;
    background: #383022;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    justify-content: center;
    height: 3em;
    border-radius: 10px;
    margin-left: 1rem;
    margin-right: 1rem;
    color: whitesmoke;
}
.lunch{
    display: flex;
    justify-content: space-between;
    background-color: #393939;
    margin: 1rem;
    align-items: center;
    padding: 1%;
}
.week {
    display: flex;
    align-content: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 2%;
    padding-top: 0.5rem;
    color: whitesmoke;
}
.vabatund{
    display: flex;
    justify-content: space-between;
    background-color: #393939;
    margin: 1rem;
    padding: 1%;
}
.chevron{
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    margin-left: 5%;
    margin-right: 5%;
}
.filterimg {
    transform: scaleY(-1);
    width: 1.25rem;
    height: 0.75rem;
    margin-left: 0.5rem;
    margin-top: 0.15rem;
}
.lounapealkiri{
    font-size: 18px;
    line-height: 27px;
}
